.wrapper {
  text-align: center;
  width: 69%;
  float: right
}

.dog-img {
  height: 220px;
  margin: 10px auto;
  border-radius: 5px;
  display: block;
  max-width: 90%;
}

.dog-element {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.add-button {
  display: inline-block;
  margin: 10px auto;
  font: {
    family: 'Lato', 'Arial', 'sans-serif';
    size: 1rem;
    weight: bold;
  }
  cursor: pointer;
  padding: 10px;
  background: #F7DC6F;
  color: #17202A;
  border: none;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background: #17202A;
    color: #F7DC6F;
  }
}