.wrapper {
  text-align: center;
}

.logo {
  width: 65px;
  display: block;
  margin-left: auto;
}

.dog-img {
  width: 250px;
  margin: 20px;
}

.dog-element {
  display: inline-block;
}

.button {
  display: block;
  margin: auto;
}