.wrapper {
  text-align: center;
  float: right;
  width: 69%;
}

.logo {
  width: 65px;
  display: block;
  margin-left: auto;
}

.dog-img {
  display: block;
  margin: auto;
}

.add-button {
  display: block;
  margin: 10px auto;
  font: {
    family: 'Lato', 'Arial', 'sans-serif';
    size: 1rem;
    weight: bold;
  }
  cursor: pointer;
  padding: 10px;
  background: #F7DC6F;
  border: none;
  border-radius: 4px;
}

.dog-element {
  margin: 20px auto 0;
  display: block;
}
.no-display {
  display: none;
}