.heading {
  text-align: center;
  font: {
    family: GoodDog, Arial, sans-serif;
    size: 5rem;
  }
  letter-spacing: 10px;
  display: inline-block;
}

.logo-img {
  width: 65px;
}

.logo {
  display: inline-block;
  margin-left: 20px;
}

.wrapper {
  width: 100%;
  margin: 15px auto;
}