.logo {
  display: block;
  width: 50%;
  margin: 30px auto 0;
}

.navigation {
  background: #C6D9CC;
  width: 30%;
  float: left;
  height: 100vh;
  position: fixed;
  font: {
    size: 5rem;
    weight: bold;
    family: GoodDog, Arial, sans-serif;
  }
  text-align: center;
}

.menu {
  width: 60%;
  margin: 15% auto;
  cursor: pointer;
  list-style: none;
  padding: 0;
  font: {
    size: 1.8rem;
    family: Monospace, Arial, sans-serif;
  }

}

.item, .active-item {
  margin: 30px 0;
  padding: 10px 0;
  border-radius: 5px;
  transition: background 0.6s;
}

.item:hover {
  background: rgba(white, 0.7);
}

.active-item {
  background: white;
  font-weight: bold;
}

.invisible {
  visibility: hidden;
  display: none;
}

.img-no-label {
  background: #17202A;
  color: #F7DC6F;
  border-radius: 4px;
  font-size: 1.5rem;
  display: inline;
  padding: 3px 5px;
  margin-left: 10px;
}
